/* Fonts */
@font-face {
    font-family: 'Pragmatica';
    src: url('fonts/PragmaticaRegularCyrillic.eot');
    src: url('fonts/PragmaticaRegularCyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/PragmaticaRegularCyrillic.woff') format('woff'),
    url('fonts/PragmaticaRegularCyrillic.ttf') format('truetype'),
    url('fonts/PragmaticaRegularCyrillic.svg#pragmatica') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaBold';
    src: url('fonts/PragmaticaBoldCyrillic.eot');
    src: url('fonts/PragmaticaBoldCyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/PragmaticaBoldCyrillic.woff') format('woff'),
    url('fonts/PragmaticaBoldCyrillic.ttf') format('truetype'),
    url('fonts/PragmaticaBoldCyrillic.svg#pragmatica') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaSemibold';
    src: url('fonts/PragmaticaSemiboldCyrillic.eot');
    src: url('fonts/PragmaticasemiboldCyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/PragmaticasemiboldCyrillic.woff') format('woff'),
    url('fonts/PragmaticaSemiboldCyrillic.ttf') format('truetype'),
    url('fonts/PragmaticaSemiboldCyrillic.svg#pragmatica') format('svg');
    font-weight: bold;
    font-style: normal;
}

header {
    padding: 70px;
    background-size: 256px 256px;
    box-shadow: 0 -80px 156px rgba(0, 0, 0, 0.8) inset;
    color: #ffffff;
}
footer {
    color: white;
    background-color: #4a4a4a;
    font-family: CirceWebRegular,Arial,sans-serif;
    text-align: center;
    font-size: 15px;
}

body {
    color: #4A4A4A;
    font-family:'Pragmatica', Sans-Serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    background: url('http://riskology.ru/assets/images/bground.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

h1 {
    font-family: 'PragmaticaSemibold';
    letter-spacing: -1px;
    font-size: 50px;
}

h2 {
    font-family: 'PragmaticaBold';
}

h3 {
    font-family: 'PragmaticaBold';
}

h4 {
    font-family: 'PragmaticaBold';
}

.wrapper {
    background-color: #ffffff;
    padding-top: 15px;
}

input[type="text"] {
    width: 100%;
    border-radius: 4px;
    padding: 18px;
}

.container {
    padding-bottom: 30px;
}

.container-footer {
    padding: 20px;
}

.container-social {
    padding: 20px 20px 0 20px;
}

.container-desc {
    background-color: #faf4ed;
    margin-bottom: 30px;
    padding: 10px 40px 20px 40px;
}

.risk-container {
    background-color: #faf4ed;
    border: 1px solid #f1ebe3;
    margin-bottom: 30px;
    padding: 10px 40px 20px 40px;
}

.quote, .quote-req {
    border-left: 5px solid rgb(255, 230, 148);
    padding-left: 30px !important;
    padding-right: 30px;
    margin: 20px 0px;
}

.quote-req {
    border-left: 5px solid #5CB85C;
}

.risk-1, .risk-2, .risk-3, .risk-4, .risk-5 {
    display: none;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.vertical {
    padding: 20px 5px;
}

.social {
    background-color: #ffffff;
    color: #333;
    padding: 5px 0 15px 0;
}

.input-subscribe {
    width: 210px !important;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 7px;
}

.chart {
    padding-bottom: 30px;
    text-align: center;
}

.result-container {
    display: none;
}

#chart_div, #chart_v_div {
    display: inline-block;
    /*width: 700px;*/
    /*height: 400px;*/
}

.light_text {
    background-color: rgb(255, 230, 148);
    padding: 5px;
    white-space: nowrap;
}

.prob_0 {
    font-weight: bold;
}

.prob_50 {
    font-weight: bold;
}

.prob_75 {
    font-weight: bold;
}


@media screen and (max-width: 767px) {
    #navbar .navbar-nav li iframe {
        display: none;
    }

    .form-inline {
        margin-bottom: 3px;
    }
}

.mast-head {
    margin: 10px 0;
}
.mast-head h1 {
    margin-bottom: 15px;
}
.mast-head p {

}

.mast-links {
    padding-top: 10px;
}

.mast-links > * {
    vertical-align: middle;
    margin-bottom: 10px;
}

.mast-links > .btn {
    margin-right: 30px;
}

.clear {
    clear: both;
    display: inline-block;
}

.mc-field-group {
    display: inline-block;
}

main {
    margin: 10px 20px;
}
main .container {
    margin-bottom: 40px;
}

code.hljs {
    border: 1px solid #ccc;
    padding: 1em;
    white-space: pre;
    margin-bottom: 10px;
}

.example {
    position: relative;
    border: 1px solid #ccc;
    padding: 1em 1em 0.5em 1em;
    border-radius: 4px 4px 0 0;
}

.example:after {
    content: "Example";
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #9da0a4;
    border-radius: 0px 4px 0px 4px;
    border-width: 0px 0px 1px 1px;
}

.example + code.hljs {
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
}

.example > * {
    margin-bottom: 10px;
}

.example > div.toggle {
    margin-right: 10px;
}

.table-striped code {
    background-color: inherit;
}



/* Social bittons */

.social-likes__widget {
    border: none !important;
    background-color: rgba(231, 231, 231, .8);
}

.social-likes__widget_vkontakte:hover,
.social-likes__widget_vkontakte:active,
.social-likes__widget_vkontakte:focus {
    background: rgba(82, 110, 143, .6);
    border-color: rgba(82, 110, 143, .6);
}

.social-likes__widget_mailru:hover,
.social-likes__widget_mailru:active,
.social-likes__widget_mailru:focus {
    background: rgba(37, 88, 150, .6);
    border-color: rgba(37, 88, 150, .6);
}

.social-likes__widget_twitter:hover,
.social-likes__widget_twitter:active,
.social-likes__widget_twitter:focus {
    background: rgba(0, 183, 236, .6);
    border-color: rgba(0, 183, 236, .6);
}

.social-likes__widget_facebook:hover,
.social-likes__widget_facebook:active,
.social-likes__widget_facebook:focus {
    background: rgba(66, 84, 151, .6);
    border-color: rgba(66, 84, 151, .6);
}



/* Flat slider */

[class*=flat-slider].ui-slider {
    background: #e8e2d3;
    border: none;
    border-radius: 0
}

[class*=flat-slider].ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 0;
    border-color: transparent;
    transition: border .4s ease
}

[class*=flat-slider].ui-slider .ui-slider-pip .ui-slider-line {
    background: #e8e2d3;
    transition: all .4s ease
}

[class*=flat-slider].ui-slider.ui-slider-horizontal {
    height: 6px
}

[class*=flat-slider].ui-slider.ui-slider-horizontal .ui-slider-handle {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: -25px;
    margin-left: -10px
}

[class*=flat-slider].ui-slider.ui-slider-horizontal .ui-slider-pip {
    top: 10px
}

[class*=flat-slider].ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
    width: 2px;
    height: 10px;
    margin-left: -1px
}

[class*=flat-slider].ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    height: 20px
}

[class*=flat-slider].ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    height: 12px
}

[class*=flat-slider].ui-slider.ui-slider-vertical {
    width: 6px;
    height: 125px;
    display: inline-block;
    margin: 0 15%
}

[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-handle {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    left: -25px;
    margin-bottom: -10px
}

[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-pip {
    left: 10px
}

[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line {
    height: 2px;
    width: 10px;
    margin-top: -1px
}

[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    width: 20px
}

[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    width: 12px
}

[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip,
[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    border: none;
    background: 0 0;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    top: 10px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before,
[class*=flat-slider].ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
    display: none
}

.flat-slider-vertical-bad .ui-slider-handle, #flat-slider-vertical-1 .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line,
.flat-slider-vertical-bad .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
.flat-slider-vertical-bad  .ui-slider-range {
    background-color: #c9302c
}

.flat-slider-vertical-likely .ui-slider-handle, #flat-slider-vertical-2 .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line,
.flat-slider-vertical-likely .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
.flat-slider-vertical-likely .ui-slider-range {
    background-color: #337ab7
}

.flat-slider-vertical-good .ui-slider-handle, #flat-slider-vertical-3 .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line,
.flat-slider-vertical-good .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
.flat-slider-vertical-good .ui-slider-range {
    background-color: #5cb85c
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-control {
    font-size: 18px;
}